[Unit]
Description=Github dotfiles update daily timer

[Timer]
OnCalendar=*-*-* 00:44:00
#OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
