[Unit]
Description=Update github tools
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/home/ed/bin/github_tools.sh
