[Unit]
Description=Clean orphan packages
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/home/ed/bin/orphan_pack.sh
