[Unit]
Description=Full system update
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/home/ed/bin/sys_update.sh
