[Desktop Entry]
Version=1.0
Type=Application
Name=DropBox
Comment=DropBox
Exec=~/.dropbox-dist/dropboxd
Icon=/home/ed/.local/share/icons/apps/dropbox.svg
Terminal=false
StartupNotify=false
GenericName=Description
Path=
