[Desktop Entry]
Name=Stacer
Exec=stacer
Comment=Linux System Optimizer and Monitoring
Icon=/home/ed/.local/share/icons/apps/stacer.svg
Type=Application
Terminal=false
Encoding=UTF-8
Categories=Utility;
