[Desktop Entry]
Name=WhatsApp
Comment=WhatsApp desktop built with nativefier (electron)
Exec=whatsapp-nativefier
Icon=/home/ed/.local/share/icons/apps/whatsapp.svg
Encoding=UTF-8
StartupWMClass=whatsapp-nativefier-d40211
Terminal=false
StartupNotify=true
Type=Application
Categories=Network;Chat;InstantMessaging;Application;
